@use "../../../../../app-library/styles/utilities/grid-container";
@use "../../../../../app-library/styles/utilities/layout";
@use "../../../../../app-library/styles/utilities/objects";

.portfolio-items-container {
	@include grid-container.grid(3, "horizontal", false, false);

	.portfolio-item,
	.image-card-skeleton {
		@include objects.fit-container;

		[data-customname="card-thumbnail"] {
			@include objects.definitive-dimension(height, 11em);
		}
	}
}

@media (min-width: layout.get-widescreen-bp()) {
	.site-section[data-sectionname="portfolio"] {
		.content-layer {
			max-width: 100%;
			padding-right: 0;
		}
	}
	.portfolio-items-container {
		@include grid-container.grid(4, "horizontal", true, true);

		// max-width: fit-content;

		margin-left: -1em;
		padding-right: 3em;

		.portfolio-item,
		.image-card-skeleton {
			@include objects.definitive-dimension(height, 100%);
		}
		.portfolio-item {
			@include objects.definitive-dimension(width, 20em);
		}
		.image-card-skeleton {
			@include objects.definitive-dimension(width, 100%);
		}
	}
}
