@use "../../../../styles/utilities/container";
@use "../../../../styles/utilities/flexible-container";

.footer {
	@include container.wrapper;
	& {
		font-size: 0.88rem;
		background-color: var(--primary-color-4);
		color: var(--secondary-color-1);

		.footer-content {
			@include flexible-container.horizontal(2em);
			@include flexible-container.center;

			flex-wrap: wrap;
			padding: 3em;
			min-height: 10em;

			.copyright {
				font-size: 1rem;
				min-width: fit-content;
				text-align: center;
			}
			hr {
				width: 75vw;
				border-top: 1px solid var(--secondary-color-1);
			}
			.socials {
				@include flexible-container.horizontal(0.94rem);

				font-size: 1.25rem;

				.social-link {
					color: var(--secondary-color-1);
				}
			}
		}
	}
}
