@use "../../../../../app-library/styles/utilities/grid-container";
@use "../../../../../app-library/styles/utilities/layout";
@use "../../../../../app-library/styles/utilities/flexible-container";
@use "../../../../../app-library/styles/utilities/objects";

$--min-recent-posts-item-width: 13em;

.site-section[data-sectionname="blog"] {
	.content-layer {
		@include flexible-container.vertical(2em);

		.post-preview,
		.image-card-skeleton {
			@include objects.fit-container;
		}

		.featured-post-preview-container {
			.post-preview,
			.image-card-skeleton {
				[data-customname="card-thumbnail"] {
					height: 13em;
				}
			}
		}

		.recent-posts-container {
			@include grid-container.grid(3, horizontal, true, false);

			.post-preview,
			.image-card-skeleton {
				/* Could've used one max() function for 
				small screen and wide screen, 
				but causes overlaps in Firefox for some reason 
				*/
				@include objects.definitive-dimension(
					width,
					$--min-recent-posts-item-width
				);

				[data-customname="card-thumbnail"] {
					@include objects.definitive-dimension(height, 7em);
				}
			}
		}
	}
}

@media (min-width: layout.get-widescreen-bp()) {
	.site-section[data-sectionname="blog"] {
		.content-layer {
			.featured-post-preview-container {
				.post-preview,
				.image-card-skeleton {
					@include objects.definitive-dimension(height, 12em);

					[data-customname="card-thumbnail"] {
						@include objects.definitive-dimension(width, 33%);
					}
				}
			}
			.recent-posts-container {
				@include grid-container.grid(3, horizontal, true, true);
				.post-preview,
				.image-card-skeleton {
					$--width: max($--min-recent-posts-item-width, 100%);
					@include objects.definitive-dimension(width, $--width);
				}
			}
		}
	}
}
