@use "../../../../styles/utilities/layout";
@use "../../../../styles/utilities/container";
@use "../../../../styles/utilities/image-card-details-text";
@use "../../../../styles/utilities/objects";
@use "../../../../styles/utilities/text";

.portfolio-item {
	@include container.wrapper;
	& {
		.title {
			@include image-card-details-text.title(false);
		}
		.description {
			@include image-card-details-text.body(false);
			@include text.limit-lines(7);
		}
		.category-container {
			@include image-card-details-text.footnote;

			// .category {
			// 	font-style: italic;
			// }

			margin-top: auto;
			color: var(--primary-color-1);
		}
	}
}

@media (min-width: layout.get-widescreen-bp()) {
	.portfolio-item {
		.title {
			@include image-card-details-text.title(true);
		}
		.description {
			@include image-card-details-text.body(true);
			@include text.limit-lines(5);

			line-height: 2.2;
		}
	}
}
