@use "../../../../../app-library/styles/utilities/layout";

.site-section[data-sectionname="bio"] {
	.content-layer {
		.bio-text {
			text-align: left;
		}
	}
}

@media (min-width: layout.get-widescreen-bp()) {
	.site-section[data-sectionname="bio"] {
		.content-layer {
			background-color: rgba(#e99767, 0.2); // TODO: To be fixed
			border: 1px none var(--accent-color-1);
			border-right-style: solid;
		}
	}
}
